<table>
  <tr>
    <td>Hello Pradeep/Rateesh,</td>
  </tr>
  <tr></tr>
  <tr>
    <td>Here is the details of customer, who wants to contact us so, please follow up </td>
  </tr>
  <tr></tr>
  <tr>
    <td>Name : <%= @contact.name %></td>
  </tr>
  <tr>
    <td>Email : <%= @contact.email%></td>
  </tr>
  <tr>
    <td>Phone : <%= @contact.phone%></td>
  </tr>
  <tr>
    <td>Message : <%= @contact.message%></td>
  </tr>
   <tr></tr>
  <tr>
    <td>Thanks,</td>
  </tr>
  <tr>
    <td>RP Skypool Team.</td>
  </tr>
</table>
