<div class="container">

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">About
          <strong>RP Skypool</strong>
        </h2>
        <hr>
      </div>
      <div class="col-md-6">
        <img class="img-responsive img-border-left" src="../../assets/slide-2.jpg" alt=""/>
      </div>
      <div class="col-md-6">
        <p>RP Skypools are custom residential and commercial pool builders from across in the South India. Call us for a free consultation about pools.</p>
        <p>Understanding the importance of keeping abreast of the latest design trends and pool and spa technology, Master Pools Guild members are committed to continuing education and adhere to the industry’s best practices.</p>
        <p>Understanding the importance of keeping abreast of the latest design trends and pool and spa technology, Master Pools Guild members are committed to continuing education and adhere to the industry’s best practices.</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Our
          <strong>Team</strong>
        </h2>
        <hr>
      </div>
      <div class="col-sm-4 text-center">
        <img class="img-responsive" src="http://placehold.it/750x450" alt=""/>
        <h3>Pradeep
          <small>CEO</small>
        </h3>
      </div>
      <div class="col-sm-4 text-center">
        <img class="img-responsive" src="http://placehold.it/750x450" alt=""/>
        <h3>Rateesh
          <small>Civil Engineer</small>
        </h3>
      </div>
      <div class="col-sm-4 text-center">
        <img class="img-responsive" src="http://placehold.it/750x450" alt=""/>
        <h3>Sandhya
          <small>MD</small>
        </h3>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

</div>
<!-- /.container -->