<div class="container">

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Our
          <strong>Products</strong>
        </h2>
        <hr>
      </div>
      <div class="col-sm-4 image-center">
        <img class="img-responsive" src="../../assets/sandfilter.jpeg" alt="" width="240" height="88"/>
        <h3>Sand Filter
          <small></small>
        </h3>
      </div>
      <div class="col-sm-4 image-center">
        <img class="img-responsive" src="../../assets/cartridge_filter.jpg" alt="" width="240" height="88"/>
        <h3>Cartridge Filter
          <small></small>
        </h3>
      </div>
      <div class="col-sm-4 image-center">
        <img class="img-responsive" src="../../assets/pool_pump.jpg" alt="" width="240" height="88"/>
        <h3>Pool Pump
          <small></small>
        </h3>
      </div>
      <div class="clearfix"></div>
    <%#*</div>%>
  <%#*</div>%>

  <%#*<div class="row">%>
    <%#*<div class="box">%>
      <%#*<div class="col-lg-12">%>
        <%#*<hr>%>
        <%#*<h2 class="intro-text text-center">Our%>
          <%#*<strong>Products</strong>%>
        <%#*</h2>%>
        <%#*<hr>%>
      <%#*</div>%>
      <div class="col-sm-4 image-center">
        <img class="img-responsive" src="../../assets/spa-pump.jpg" alt="" width="240" height="88"/>
        <h3>Spa Pump
          <small></small>
        </h3>
      </div>
      <div class="col-sm-4 image-center">
        <img class="img-responsive" src="../../assets/air_blower.jpg" alt="" width="240" height="88"/>
        <h3>Air Blower
          <small></small>
        </h3>
      </div>
      <div class="col-sm-4 image-center">
        <img class="img-responsive" src="../../assets/heat_pump.jpeg" alt="" width="240" height="88"/>
        <h3>Heat Pump
          <small></small>
        </h3>
      </div>
      <div class="clearfix"></div>
    <%#*</div>%>
  <%#*</div>%>

  <%#*<div class="row">%>
    <%#*<div class="box">%>
      <%#*<div class="col-lg-12">%>
        <%#*<hr>%>
        <%#*<h2 class="intro-text text-center">Our%>
          <%#*<strong>Products</strong>%>
        <%#*</h2>%>
        <%#*<hr>%>
      <%#*</div>%>
      <div class="col-sm-4 image-center">
        <img class="img-responsive" src="../../assets/counter_current.jpg" alt="Counter Current" width="240" height="88"/>
        <h3>Counter Current
          <small></small>
        </h3>
      </div>
      <div class="col-sm-4 image-center">
        <img class="img-responsive" src="../../assets/led_light.jpg" alt="Led Light" width="240" height="88"/>
        <h3>LED Light
          <small></small>
        </h3>
      </div>
      <div class="col-sm-4 image-center">
        <img class="img-responsive" src="../../assets/halogen_light.jpg" alt="Halogen light" width="240" height="88"/>
        <h3>Halogen Light
          <%#*<small>MD</small>%>
        </h3>
      </div>
      <div class="clearfix"></div>
    <%#*</div>%>
  <%#*</div>%>

  <%#*<div class="row">%>
    <%#*<div class="box">%>
      <%#*<div class="col-lg-12">%>
        <%#*<hr>%>
        <%#*<h2 class="intro-text text-center">Our%>
          <%#*<strong>Products</strong>%>
        <%#*</h2>%>
        <%#*<hr>%>
      <%#*</div>%>
      <div class="col-sm-4 image-center">
        <img class="img-responsive" src="../../assets/skimmer.jpg" alt="" width="240" height="88"/>
        <h3>Skimmer
          <small></small>
        </h3>
      </div>
      <div class="col-sm-4 image-center">
        <img class="img-responsive" src="../../assets/inlets.jpg" alt=""  width="240" height="88"/>
        <h3>Inlets & Vaccume Point
          <small></small>
        </h3>
      </div>
      <div class="col-sm-4 image-center">
        <img class="img-responsive" src="../../assets/spa_jets.png" alt="" width="240" height="88"/>
        <h3>Spa Jet
          <small></small>
        </h3>
      </div>
      <div class="clearfix"></div>
    <%#*</div>%>
  <%#*</div>%>

  <%#*<div class="row">%>
    <%#*<div class="box">%>
      <%#*<div class="col-lg-12">%>
        <%#*<hr>%>
        <%#*<h2 class="intro-text text-center">Our%>
          <%#*<strong>Products</strong>%>
        <%#*</h2>%>
        <%#*<hr>%>
      <%#*</div>%>
      <div class="col-sm-4 image-center">
        <img class="img-responsive" src="../../assets/ladder.jpg" alt="" width="240" height="88"/>
        <h3>Ladders
          <small></small>
        </h3>
      </div>
      <div class="col-sm-4 image-center">
        <img class="img-responsive" src="../../assets/cleaning.jpg" alt="" width="240" height="88"/>
        <h3>Cleaning Equipment
          <small></small>
        </h3>
      </div>
      <div class="col-sm-4 image-center">
        <img class="img-responsive" src="../../assets/portable_spa.jpg" alt="" width="240" height="88"/>
        <h3>Portable Spa
          <small></small>
        </h3>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>



    <%#*<div class="row">%>
    <%#*<div class="box">%>
      <%#*<div class="col-lg-12">%>
        <%#*<hr>%>
        <%#*<h2 class="intro-text text-center">%>
          <%#*<strong>Tiles</strong>%>
        <%#*</h2>%>
        <%#*<hr>%>
      <%#*</div>%>
      <%#*<div class="col-sm-4 image-center">%>
        <%#*<img class="img-responsive" src="../../assets/sand_filter.png" alt="" width="240" height="88"/>%>
        <%#*<h3>Sand Filter%>
          <%#*<small></small>%>
        <%#*</h3>%>
      <%#*</div>%>
      <%#*<div class="col-sm-4 image-center">%>
        <%#*<img class="img-responsive" src="../../assets/cartridge.png" alt="" width="140" height="54"/>%>
        <%#*<h3>Cartridge Filter%>
          <%#*<small></small>%>
        <%#*</h3>%>
      <%#*</div>%>
      <%#*<div class="col-sm-4 image-center">%>
        <%#*<img class="img-responsive" src="../../assets/pool_pump.png" alt=""/>%>
        <%#*<h3>Pool Pump%>
          <%#*<small></small>%>
        <%#*</h3>%>
      <%#*</div>%>
      <%#*<div class="clearfix"></div>%>

            <%#*<div class="col-sm-4 image-center">%>
        <%#*<img class="img-responsive" src="../../assets/sand_filter.png" alt="" width="240" height="88"/>%>
        <%#*<h3>Sand Filter%>
          <%#*<small></small>%>
        <%#*</h3>%>
      <%#*</div>%>
      <%#*<div class="col-sm-4 image-center">%>
        <%#*<img class="img-responsive" src="../../assets/cartridge.png" alt="" width="140" height="54"/>%>
        <%#*<h3>Cartridge Filter%>
          <%#*<small></small>%>
        <%#*</h3>%>
      <%#*</div>%>
      <%#*<div class="col-sm-4 image-center">%>
        <%#*<img class="img-responsive" src="../../assets/pool_pump.png" alt=""/>%>
        <%#*<h3>Pool Pump%>
          <%#*<small></small>%>
        <%#*</h3>%>
      <%#*</div>%>
      <%#*<div class="clearfix"></div>%>
    <%#*</div>%>
  <%#*</div>%>




   <%#*<div class="row">%>
    <%#*<div class="box">%>
      <%#*<div class="col-lg-12">%>
        <%#*<hr>%>
        <%#*<h2 class="intro-text image-center">%>
          <%#*<strong>Pool Chemicals</strong>%>
        <%#*</h2>%>
        <%#*<hr>%>
      <%#*</div>%>
      <%#*<div class="col-sm-4 image-center">%>
        <%#*<img class="img-responsive" src="../../assets/sand_filter.png" alt="" width="240" height="88"/>%>
        <%#*<h3>Sand Filter%>
          <%#*<small></small>%>
        <%#*</h3>%>
      <%#*</div>%>
      <%#*<div class="col-sm-4 image-center">%>
        <%#*<img class="img-responsive" src="../../assets/cartridge.png" alt="" width="140" height="54"/>%>
        <%#*<h3>Cartridge Filter%>
          <%#*<small></small>%>
        <%#*</h3>%>
      <%#*</div>%>
      <%#*<div class="col-sm-4 image-center">%>
        <%#*<img class="img-responsive" src="../../assets/pool_pump.png" alt=""/>%>
        <%#*<h3>Pool Pump%>
          <%#*<small></small>%>
        <%#*</h3>%>
      <%#*</div>%>
      <%#*<div class="clearfix"></div>%>

            <%#*<div class="col-sm-4 image-center">%>
        <%#*<img class="img-responsive" src="../../assets/sand_filter.png" alt="" width="240" height="88"/>%>
        <%#*<h3>Sand Filter%>
          <%#*<small></small>%>
        <%#*</h3>%>
      <%#*</div>%>
      <%#*<div class="col-sm-4 image-center">%>
        <%#*<img class="img-responsive" src="../../assets/cartridge.png" alt="" width="140" height="54"/>%>
        <%#*<h3>Cartridge Filter%>
          <%#*<small></small>%>
        <%#*</h3>%>
      <%#*</div>%>
      <%#*<div class="col-sm-4 image-center">%>
        <%#*<img class="img-responsive" src="../../assets/pool_pump.png" alt=""/>%>
        <%#*<h3>Pool Pump%>
          <%#*<small></small>%>
        <%#*</h3>%>
      <%#*</div>%>
      <%#*<div class="clearfix"></div>%>
    <%#*</div>%>
  <%#*</div>%>


</div>
<!-- /.container -->


