<div class="container">

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Our
          <strong>Products</strong>
        </h2>
        <hr>
      </div>
      <div class="col-sm-4 text-center">
        <img class="img-responsive" src="../../assets/sand_filter.png" alt="" width="240" height="88"/>
        <h3>Sand Filter
          <small></small>
        </h3>
      </div>
      <div class="col-sm-4 text-center">
        <img class="img-responsive" src="../../assets/cartridge.png" alt="" width="140" height="54"/>
        <h3>Cartridge Filter
          <small></small>
        </h3>
      </div>
      <div class="col-sm-4 text-center">
        <img class="img-responsive" src="../../assets/pool_pump.png" alt=""/>
        <h3>Pool Pump
          <small></small>
        </h3>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Our
          <strong>Products</strong>
        </h2>
        <hr>
      </div>
      <div class="col-sm-4 text-center">
        <img class="img-responsive" src="../../assets/spa_pump.png" alt=""/>
        <h3>Spa Pump
          <small></small>
        </h3>
      </div>
      <div class="col-sm-4 text-center">
        <img class="img-responsive" src="../../assets/air_blower.png" alt=""/>
        <h3>Air Blower
          <small></small>
        </h3>
      </div>
      <div class="col-sm-4 text-center">
        <img class="img-responsive" src="../../assets/heat_pump.png" alt=""/>
        <h3>Heat Pump
          <small></small>
        </h3>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Our
          <strong>Products</strong>
        </h2>
        <hr>
      </div>
      <div class="col-sm-4 text-center">
        <img class="img-responsive" src="../../assets/counter_current.jpg" alt=""/>
        <h3>Counter Current
          <small></small>
        </h3>
      </div>
      <div class="col-sm-4 text-center">
        <img class="img-responsive" src="../../assets/led_light.png" alt=""/>
        <h3>LED Light
          <small></small>
        </h3>
      </div>
      <div class="col-sm-4 text-center">
        <img class="img-responsive" src="../../assets/halogen_light.png" alt=""/>
        <h3>Halogen Lignt
          <small>MD</small>
        </h3>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Our
          <strong>Products</strong>
        </h2>
        <hr>
      </div>
      <div class="col-sm-4 text-center">
        <img class="img-responsive" src="../../assets/skimmer.png" alt=""/>
        <h3>Skimmer
          <small></small>
        </h3>
      </div>
      <div class="col-sm-4 text-center">
        <img class="img-responsive" src="../../assets/inlet.png" alt=""/>
        <h3>Inlets & Vaccume Point
          <small></small>
        </h3>
      </div>
      <div class="col-sm-4 text-center">
        <img class="img-responsive" src="../../assets/spa_jrts.png" alt=""/>
        <h3>Spa Jet
          <small></small>
        </h3>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Our
          <strong>Products</strong>
        </h2>
        <hr>
      </div>
      <div class="col-sm-4 text-center">
        <img class="img-responsive" src="../../assets/ladder.png" alt=""/>
        <h3>Ladders
          <small></small>
        </h3>
      </div>
      <div class="col-sm-4 text-center">
        <img class="img-responsive" src="../../assets/cleaning_kit.png" alt=""/>
        <h3>Cleaning Equipment
          <small></small>
        </h3>
      </div>
      <div class="col-sm-4 text-center">
        <img class="img-responsive" src="../../assets/portable_spa.png" alt=""/>
        <h3>Portable Spa
          <small></small>
        </h3>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- /.container -->